html {
  height: 100%;
 }

body {
    color: rgba(0,0,0,.9);
    text-align: center;
    top: 15%;
    min-height: 100%;
    font-family: sans-serif;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
}

.container {
  background: #fff;
  max-width: 65vw;
  margin: auto;
  padding: 40px;
}

header {
margin: auto;
text-transform: uppercase;
}

.title {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 200;
  font-family: 'Oswald', serif;
  margin-bottom: 0px;
}

input {
  
}

.bold {
  font-weight: 500;
}

h3 {
  letter-spacing: .4rem;
  font-size: 1rem;
  margin-bottom: 50px;
  font-family: 'Raleway', serif;

}

#cssGradient {
  font-weight: 400;
  letter-spacing: 0.2rem;
  margin-top: 50px;
}

a {
  color: #ff1cae;
}

a:hover, a:active {
  color: #fff;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 10px;
}